{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="{% static 'css_files/home.css' %}">

</head>

<body>

    <header>
        <div style="font-size: 45px; font-weight: 300;">
            Sunlit<br>
            <span id="current-time" style="font-size: 16px; opacity: 0.7;"></span>
        </div>

        <div class="nav-menu">
            <div id="today-tab"><a href="{% url 'home' %}">Today</a></div>
            <div id="tomorrow-tab" class="active"> <a href="{% url 'tomorrow' %}">Tomorrow</a></div>
            <div id="weekly-tab"> <a href="{% url 'weekly' %}">Weekly Forecast</a></div>
        </div>

        <a href="{% url 'accounts:login' %}"
            style="font-size: 20px; color: #fff; text-decoration: none; align-self: center;">
            Sign In
        </a>

    </header>
    <div class="search-container">
        <div class="search-bar">
            <form method="get" style="display: flex; align-items: center; width: 100%;">
                <img src="{% static 'weather_icons/search-logo.png' %}" alt="search">
                <input id="searchInput" type="text" name="city" placeholder="Search location..." style="
                border: none;
                background: transparent;
                outline: none;
                width: 100%;
                font-size: 16px;
                color: #555;
            ">
            </form>
        </div>

        <div id="suggestions" class="suggestions-box"></div>
    </div>



    <div class="carousel-container">
        <div class="arrow-btn">❮</div>

        <div class="weather-card">
            <div class="weather-header">{{ city }}📍<br>

                <span id="weather-date" style="font-size: 14px; opacity: 0.7;"></span>
            </div>

            <div class="weather-center">
                {%if description == "broken clouds" or description == "overcast clouds"%}
                <img src="{% static 'weather_icons/cloud-logo.png' %}" alt="weather">
                {%elif description == "clear sky"%}
                <img src="{% static 'weather_icons/sunny-logo.png' %}" alt="weather">
                {%elif description == "few clouds"%}
                <img src="{% static 'weather_icons/few-cloud.png' %}" alt="weather">
                {%elif description == "scattered clouds"%}
                <img src="{% static 'weather_icons/cloud.png' %}" alt="weather">
                {%elif description == "shower rain"%}
                <img src="{% static 'weather_icons/storm-rain-logo.png' %}" alt="weather">
                {%elif description == "rain"%}
                <img src="{% static 'weather_icons/rain-logo.png' %}" alt="weather">
                {%elif description == "thunderstorm"%}
                <img src="{% static 'weather_icons/storm-logo.png' %}" alt="weather">
                {%elif description == "snow"%}
                <img src="{% static 'weather_icons/snow-logo.png' %}" alt="weather">
                {%elif description == "mist"%}
                <img src="{% static 'weather_icons/mist.png' %}" alt="weather">
                {%endif%}
                <div class="weather-temp">{{temp_min_night}}/{{temp_max_day}}°C</div>

            </div>

            <div class="weather-stats">
                <div class="stat-block"><span>HUMIDITY</span><br>{{humidity}}</div>
                <div class="stat-block"><span>VISIBILITY</span><br>{{visibility}}</div>
                <div class="stat-block"><span>AIR PRESSURE</span><br>{{ pressure }}</div>
                <div class="stat-block"><span>WIND</span><br>{{wind}}</div>
            </div>
        </div>

        <div class="arrow-btn">❯</div>
    </div>

    <div class="hourly-container">
        {% for h in hourly %}
        <div class="hour-box">
            <div class="hour-time">
                {{ h.dt_txt|slice:"11:16" }}
            </div>

            {%if h.weather.0.description == "broken clouds" or h.weather.0.description == "overcast clouds"%}
            <img src="{% static 'weather_icons/cloud-logo.png' %}" alt="weather">
            {%elif h.weather.0.description == "clear sky"%}
            <img src="{% static 'weather_icons/sunny-logo.png' %}" alt="weather">
            {%elif h.weather.0.description == "few clouds"%}
            <img src="{% static 'weather_icons/few-cloud.png' %}" alt="weather">
            {%elif h.weather.0.description == "scattered clouds"%}
            <img src="{% static 'weather_icons/cloud.png' %}" alt="weather">
            {%elif h.weather.0.description == "shower rain"%}
            <img src="{% static 'weather_icons/storm-rain-logo.png' %}" alt="weather">
            {%elif h.weather.0.description == "rain"%}
            <img src="{% static 'weather_icons/rain-logo.png' %}" alt="weather">
            {%elif h.weather.0.description == "thunderstorm"%}
            <img src="{% static 'weather_icons/storm-logo.png' %}" alt="weather">
            {%elif h.weather.0.description == "snow"%}
            <img src="{% static 'weather_icons/snow-logo.png' %}" alt="weather">
            {%elif h.weather.0.description == "mist"%}
            <img src="{% static 'weather_icons/mist.png' %}" alt="weather">
            {%else%}
            <img src="{% static 'weather_icons/few-cloud.png' %}" alt="icon">
            {%endif%}

            <div class="hour-temp">
                {{ h.main.temp|floatformat:0 }}°C
            </div>
        </div>
        {% endfor %}
    </div>


    <footer>
        <div style="margin-bottom: 20px; font-size: 22px;">Sunlit</div>
        <div style="margin-top: 20px;">
            <img src="{% static 'social_media/facebook-logo.png' %}" alt="Instagram"
                style="width:28px; margin-right:15px;">
            <img src="{% static 'social_media/instagram-logo.png' %}" alt="Facebook" style="width:28px;">
        </div>
    </footer>

    <script>
        function updateTime() {
            const el = document.getElementById('current-time');
            const now = new Date();
            let h = now.getHours();
            let m = now.getMinutes();
            m = m < 10 ? '0' + m : m;
            const ampm = h >= 12 ? 'pm' : 'am';
            h = h % 12 || 12;
            el.textContent = h + ":" + m + " " + ampm;
        }

        // function updateDate() {
        //     const el = document.getElementById('weather-date');
        //     const d = new Date();
        //     d.setDate(d.getDate() + 1);
        //     const opts = { month: 'short', day: 'numeric', weekday: 'short' };
        //     el.textContent = d.toLocaleDateString('en-US', opts);
        // }

        updateTime();
        setInterval(updateTime, 60000);
        // updateDate();
        const todayTab = document.getElementById('today-tab');
        const tomorrowTab = document.getElementById('tomorrow-tab');
        const weeklyTab = document.getElementById('weekly-tab');

        document.addEventListener("DOMContentLoaded", () => {
            loadTomorrowWeather();
        });

        function loadTomorrowWeather() {
            const params = new URLSearchParams(window.location.search);
            const city = params.get("city") || "Yerevan";

            fetch(`/tomorrow/?city=${city}`)
                .then(res => res.json())
                .then(data => {
                    document.querySelector(".city-name").textContent = data.city;
                    document.querySelector(".tomorrow-date").textContent = data.date;

                    // Min night / Max day
                    document.querySelector(".temp-night").textContent = data.temp_min_night + "°C";
                    document.querySelector(".temp-day").textContent = data.temp_max_day + "°C";

                    document.querySelector(".weather-icon").src = data.icon;

                    document.querySelector(".humidity").textContent = data.humidity + "%";
                    document.querySelector(".visibility").textContent = data.visibility + " m";
                    document.querySelector(".pressure").textContent = data.pressure + " hPa";
                    document.querySelector(".wind").textContent = data.wind + " m/s";
                })
                .catch(err => console.error("Error loading tomorrow:", err));
        }
        document.getElementById("searchInput").addEventListener("input", function () {
            const query = this.value.trim();
            const suggestions = document.getElementById("suggestions");

            if (query.length < 2) {
                suggestions.innerHTML = "";
                return;
            }

            fetch(`/autocomplete?query=${encodeURIComponent(query)}`)
                .then(res => res.json())
                .then(list => {
                    suggestions.innerHTML = "";

                    list.forEach(city => {
                        const item = document.createElement("div");
                        item.classList.add("suggestion-item");

                        item.textContent = `${city.city}${city.region ? ", " + city.region : ""}, ${city.country_code}`;

                        item.onclick = () => {
                            document.getElementById("searchInput").value = city.city;
                            suggestions.innerHTML = "";
                            window.location.href = `/?city=${city.city}`;
                        };

                        suggestions.appendChild(item);
                    });
                });
        });


    </script>

</body>

</html>
{% endblock %}
